{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h2 class="mt-8 mx-6">{{ object|yesno:"Create,Update" }} task</h2>
  <div class="card col-md-10">
    <form class="px-6 py-5" action="" method="post">
      {% csrf_token %}
      {{ form.content|as_crispy_field }}
      <div class="form-group row">
        <div class="col">
          {{ form.deadline|as_crispy_field }}
        </div>
        <div class="col mt-5">
          {{ form.is_completed|as_crispy_field }}
        </div>
      </div>
      {{ form.tags|as_crispy_field }}
      <input type="submit" value="Submit" class="btn bg-gradient-success mt-3">
      <a class="btn bg-gradient-secondary mt-3" href="{% url 'task_list:index' %}">Cancel</a>
    </form>
  </div>
{% endblock %}
